.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  height: 100svh;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.logo {
  max-width: 700px;

  /* 親要素の幅に合わせて、横幅を100%にする（スマホなどで画面が狭くなった時に縮小させるため） */
  width: 100%;

  /* 高さは自動で調整させることで、画像の縦横比を維持する */
  height: auto;
}
